/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;text-rendering:optimizeLegibility;font-feature-settings:'kern', 'liga' 0, 'clig' 0, 'calt' 0;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:underline;}
a:link {color:#B2080B; cursor:pointer;}
a:visited {color:#B2080B;}
a:hover {color:#FF8200;}
a * {color:#B2080B;text-decoration:underline;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_strb {z-index: 1;}
.xr_strb .mxs-arrow, .xr_strb .mxs-navigation {visibility: hidden;}
.xr_strf {z-index: 3;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
body {text-align:center;}
@media screen, handheld {
.xr_app {position: absolute;}
.xr_apb {display:block; position:absolute;}
.xr_pnav {position:absolute; display:block; text-align:left; background-image:url('03.png'); background-attachment:scroll; top:8px; width:16px; height:16px;}
.xr_pnav:hover {background-image:url('04.png');}
.xr_pnavmenu {font-family:'Arial';font-size:12pt;color:#5d99d3;text-decoration:none;}
.xr_pnavmenu:link {color:#cccccc;}
.xr_pnavmenu:visited {color:#cccccc;}
.xr_pnavmenu:hover {color:#83b1e0;}
#xr_pnava {position: fixed; display: block; left: 0px; bottom: 0px; height: 24px; width: 120px; z-index:1100; background-image: url('0.gif');}
#xr_pnavh {position: fixed; display: block; left: 4px; bottom: -40px; height: 36px; width: 116px; background-color: #222222; border-radius: 8px; z-index:1200; visibility:hidden;transition: bottom 0.2s, visibility 0.2s;-moz-transition: bottom 0.2s, visibility 0.2s;-webkit-transition: bottom 0.2s, visibility 0.2s;-o-transition: bottom 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
#xr_pnavm {position: fixed; display: block; left: 108px; bottom: 8px; overflow: auto; background-color: #222222; border-radius: 8px; padding: 16px; z-index:1100; visibility:hidden; opacity:0; transition: opacity 0.2s, visibility 0.2s;-moz-transition: opacity 0.2s, visibility 0.2s;-webkit-transition: opacity 0.2s, visibility 0.2s;-o-transition: opacity 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000; white-space: nowrap;}
#xr_pnava:hover #xr_pnavh {visibility:visible; bottom:4px;}
#xr_pnavm:hover {visibility:visible;}
#xr_pnavm:hover #xr_pnavp {visibility:visible;}
#xr_pnavp:hover #xr_pnavm {visibility:visible; opacity:0.9;}
#xr_palrt {position: fixed; display: block; left: 4px; bottom: -300px; width: 250px; color: white; padding: 4px; background-color: #222222; border-radius: 8px; z-index:100; visibility:hidden; transition: bottom 0.5s, visibility 0.5s;-moz-transition: bottom 0.5s, visibility 0.5s;-webkit-transition: bottom 0.5s, visibility 0.5s;-o-transition: bottom 0.5s, visibility 0.5s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
.xr_c_Theme_Color_1 {color:#B2080B;}
.xr_c_Theme_Color_2 {color:#FF8200;}
.xr_c_Text {color:#220000;}
.xr_bgb0 {background:url('50.png') -1152px 1984px repeat;}
.xr_page0 {top:0px; width:576px;}
.xr_bgb1 {background:url('50.png') -1152px 1984px repeat;}
.xr_page1 {top:0px; width:576px;}
.xr_bgb2 {background:url('50.png') -1152px 1984px repeat;}
.xr_page2 {top:0px; width:576px;}
.xr_bgb3 {background:url('50.png') -1152px 1984px repeat;}
.xr_page3 {top:0px; width:576px;}
.xr_bgb4 {background:url('50.png') -1152px 1984px repeat;}
.xr_page4 {top:0px; width:576px;}
.xr_bgb5 {background:url('50.png') -1152px 1984px repeat;}
.xr_page5 {top:0px; width:576px;}
.xr_bgb6 {background:url('50.png') -1152px 1984px repeat;}
.xr_page6 {top:0px; width:576px;}
.xr_bgb7 {background:url('50.png') -1152px 1984px repeat;}
.xr_page7 {top:0px; width:576px;}
.xr_bgb8 {background:url('50.png') -1152px 1984px repeat;}
.xr_page8 {top:0px; width:576px;}
.xr_bgb9 {background:url('50.png') -1152px 1984px repeat;}
.xr_page9 {top:0px; width:576px;}
.xr_bgb10 {background:url('50.png') -1152px 1984px repeat;}
.xr_page10 {top:0px; width:576px;}
.xr_bgb11 {background:url('50.png') -1152px 1984px repeat;}
.xr_page11 {top:0px; width:576px;}
.xr_bgb12 {background:url('50.png') -1152px 1984px repeat;}
.xr_page12 {top:0px; width:576px;}
.xr_bgb13 {background:url('50.png') -1152px 1984px repeat;}
.xr_page13 {top:0px; width:576px;}
.xr_bgb14 {background:url('50.png') -1152px 1984px repeat;}
.xr_page14 {top:0px; width:576px;}
.xr_bgb15 {background:url('50.png') -1152px 1984px repeat;}
.xr_page15 {top:0px; width:576px;}
.xr_bgb16 {background:url('50.png') -1152px 1984px repeat;}
.xr_page16 {top:0px; width:576px;}
.xr_bgb17 {background:url('50.png') -1152px 1984px repeat;}
.xr_page17 {top:0px; width:576px;}
.xr_bgb18 {background:url('50.png') -1152px 1984px repeat;}
.xr_page18 {top:0px; width:576px;}
.xr_bgb19 {background:url('50.png') -1152px 1984px repeat;}
.xr_page19 {top:0px; width:576px;}
.xr_bgb20 {background:url('50.png') -1152px 1984px repeat;}
.xr_page20 {top:0px; width:576px;}
.xr_bgb21 {background:url('50.png') -1152px 1984px repeat;}
.xr_page21 {top:0px; width:576px;}
.xr_bgb22 {background:url('50.png') -1152px 1984px repeat;}
.xr_page22 {top:0px; width:576px;}
.xr_bgb23 {background:url('50.png') -1152px 1984px repeat;}
.xr_page23 {top:0px; width:576px;}
.xr_bgb24 {background:url('50.png') -1152px 1984px repeat;}
.xr_page24 {top:0px; width:576px;}
.xr_bgb25 {background:url('50.png') -1152px 1984px repeat;}
.xr_page25 {top:0px; width:576px;}
.xr_bgb26 {background:url('50.png') -1152px 1984px repeat;}
.xr_page26 {top:0px; width:576px;}
.xr_bgb27 {background:url('50.png') -1152px 1984px repeat;}
.xr_page27 {top:0px; width:576px;}
.xr_bgb28 {background:url('50.png') -1152px 1984px repeat;}
.xr_page28 {top:0px; width:576px;}
.xr_bgb29 {background:url('50.png') -1152px 1984px repeat;}
.xr_page29 {top:0px; width:576px;}
.xr_bgb30 {background:url('50.png') -1152px 1984px repeat;}
.xr_page30 {top:0px; width:576px;}
.xr_bgb31 {background:url('50.png') -1152px 1984px repeat;}
.xr_page31 {top:0px; width:576px;}
.xr_bgb32 {background:url('50.png') -1152px 1984px repeat;}
.xr_page32 {top:0px; width:576px;}
.xr_bgb33 {background:url('50.png') -1152px 1984px repeat;}
.xr_page33 {top:0px; width:576px;}
.xr_bgb34 {background:url('50.png') -1152px 1984px repeat;}
.xr_page34 {top:0px; width:576px;}
.xr_bgb35 {background:url('50.png') -1152px 1984px repeat;}
.xr_page35 {top:0px; width:576px;}
.xr_bgb36 {background:url('50.png') -1152px 1984px repeat;}
.xr_page36 {top:0px; width:576px;}
.xr_bgb37 {background:url('50.png') -1152px 1984px repeat;}
.xr_page37 {top:0px; width:576px;}
.xr_bgb38 {background:url('50.png') -1152px 1984px repeat;}
.xr_page38 {top:0px; width:576px;}
.xr_bgb39 {background:url('50.png') -1152px 1984px repeat;}
.xr_page39 {top:0px; width:576px;}
.xr_bgb40 {background:url('50.png') -1152px 1984px repeat;}
.xr_page40 {top:0px; width:576px;}
.xr_bgb41 {background:url('50.png') -1152px 1984px repeat;}
.xr_page41 {top:0px; width:576px;}
.xr_bgb42 {background:url('50.png') -1152px 1984px repeat;}
.xr_page42 {top:0px; width:576px;}
.xr_bgb43 {background:url('50.png') -1152px 1984px repeat;}
.xr_page43 {top:0px; width:576px;}
.xr_bgb44 {background:url('50.png') -1152px 1984px repeat;}
.xr_page44 {top:0px; width:576px;}
.xr_bgb45 {background:url('50.png') -1152px 1984px repeat;}
.xr_page45 {top:0px; width:576px;}
.xr_bgb46 {background:url('50.png') -1152px 1984px repeat;}
.xr_page46 {top:0px; width:576px;}
.xr_bgb47 {background:url('50.png') -1152px 1984px repeat;}
.xr_page47 {top:0px; width:576px;}
.xr_bgb48 {background:url('50.png') -1152px 1984px repeat;}
.xr_page48 {top:0px; width:576px;}
.xr_bgb49 {background:url('50.png') -1152px 1984px repeat;}
.xr_page49 {top:0px; width:576px;}
.xr_bgb50 {background:url('50.png') -1152px 1984px repeat;}
.xr_page50 {top:0px; width:576px;}
.xr_bgb51 {background:url('50.png') -1152px 1984px repeat;}
.xr_page51 {top:0px; width:576px;}
.xr_bgb52 {background:url('50.png') -1152px 1984px repeat;}
.xr_page52 {top:0px; width:576px;}
.xr_bgb53 {background:url('50.png') -1152px 1984px repeat;}
.xr_page53 {top:0px; width:576px;}
.xr_bgb54 {background:url('50.png') -1152px 1984px repeat;}
.xr_page54 {top:0px; width:576px;}
.xr_bgb55 {background:url('50.png') -1152px 1984px repeat;}
.xr_page55 {top:0px; width:576px;}
.xr_bgb56 {background:url('50.png') -1152px 1984px repeat;}
.xr_page56 {top:0px; width:576px;}
.xr_bgb57 {background:url('50.png') -1152px 1984px repeat;}
.xr_page57 {top:0px; width:576px;}
.xr_bgb58 {background:url('50.png') -1152px 1984px repeat;}
.xr_page58 {top:0px; width:576px;}
.xr_bgb59 {background:url('50.png') -1152px 1984px repeat;}
.xr_page59 {top:0px; width:576px;}
.xr_bgb60 {background:url('50.png') -1152px 1984px repeat;}
.xr_page60 {top:0px; width:576px;}
.xr_bgb61 {background:url('50.png') -1152px 1984px repeat;}
.xr_page61 {top:0px; width:576px;}
.xr_bgb62 {background:url('50.png') -1152px 1984px repeat;}
.xr_page62 {top:0px; width:576px;}
.xr_bgb63 {background:url('50.png') -1152px 1984px repeat;}
.xr_page63 {top:0px; width:576px;}
.xr_bgb64 {background:url('50.png') -1152px 1984px repeat;}
.xr_page64 {top:0px; width:576px;}
.xr_bgb65 {background:url('50.png') -1152px 1984px repeat;}
.xr_page65 {top:0px; width:576px;}
.xr_bgb66 {background:url('50.png') -1152px 1984px repeat;}
.xr_page66 {top:0px; width:576px;}
.xr_bgb67 {background:url('50.png') -1152px 1984px repeat;}
.xr_page67 {top:0px; width:576px;}
.xr_bgb68 {background:url('50.png') -1152px 1984px repeat;}
.xr_page68 {top:0px; width:576px;}
.xr_bgb69 {background:url('50.png') -1152px 1984px repeat;}
.xr_page69 {top:0px; width:576px;}
.xr_bgb70 {background:url('50.png') -1152px 1984px repeat;}
.xr_page70 {top:0px; width:576px;}
.xr_bgb71 {background:url('50.png') -1152px 1984px repeat;}
.xr_page71 {top:0px; width:576px;}
.xr_bgb72 {background:url('50.png') -1152px 1984px repeat;}
.xr_page72 {top:0px; width:576px;}
.xr_bgb73 {background:url('50.png') -1152px 1984px repeat;}
.xr_page73 {top:0px; width:576px;}
.xr_bgb74 {background:url('50.png') -1152px 1984px repeat;}
.xr_page74 {top:0px; width:576px;}
.xr_bgb75 {background:url('50.png') -1152px 1984px repeat;}
.xr_page75 {top:0px; width:576px;}
.xr_bgb76 {background:url('50.png') -1152px 1984px repeat;}
.xr_page76 {top:0px; width:576px;}
.xr_bgb77 {background:url('50.png') -1152px 1984px repeat;}
.xr_page77 {top:0px; width:576px;}
.xr_bgb78 {background:url('50.png') -1152px 1984px repeat;}
.xr_page78 {top:0px; width:576px;}
.xr_bgb79 {background:url('50.png') -1152px 1984px repeat;}
.xr_page79 {top:0px; width:576px;}
.xr_bgb80 {background:url('50.png') -1152px 1984px repeat;}
.xr_page80 {top:0px; width:576px;}
.xr_bgb81 {background:url('50.png') -1152px 1984px repeat;}
.xr_page81 {top:0px; width:576px;}
.xr_bgb82 {background:url('50.png') -1152px 1984px repeat;}
.xr_page82 {top:0px; width:576px;}
.xr_bgb83 {background:url('50.png') -1152px 1984px repeat;}
.xr_page83 {top:0px; width:576px;}
.xr_bgb84 {background:url('50.png') -1152px 1984px repeat;}
.xr_page84 {top:0px; width:576px;}
.xr_bgb85 {background:url('50.png') -1152px 1984px repeat;}
.xr_page85 {top:0px; width:576px;}
.xr_bgb86 {background:url('50.png') -1152px 1984px repeat;}
.xr_page86 {top:0px; width:576px;}
.xr_bgb87 {background:url('50.png') -1152px 1984px repeat;}
.xr_page87 {top:0px; width:576px;}
.xr_bgb88 {background:url('50.png') -1152px 1984px repeat;}
.xr_page88 {top:0px; width:576px;}
.xr_bgb89 {background:url('50.png') -1152px 1984px repeat;}
.xr_page89 {top:0px; width:576px;}
.xr_bgb90 {background:url('50.png') -1152px 1984px repeat;}
.xr_page90 {top:0px; width:576px;}
.xr_bgb91 {background:url('50.png') -1152px 1984px repeat;}
.xr_page91 {top:0px; width:576px;}
.xr_bgb92 {background:url('50.png') -1152px 1984px repeat;}
.xr_page92 {top:0px; width:576px;}
.xr_bgb93 {background:url('50.png') -1152px 1984px repeat;}
.xr_page93 {top:0px; width:576px;}
.xr_bgb94 {background:url('50.png') -1152px 1984px repeat;}
.xr_page94 {top:0px; width:576px;}
.xr_bgb95 {background:url('50.png') -1152px 1984px repeat;}
.xr_page95 {top:0px; width:576px;}
.xr_bgb96 {background:url('50.png') -1152px 1984px repeat;}
.xr_page96 {top:0px; width:576px;}
.xr_bgb97 {background:url('50.png') -1152px 1984px repeat;}
.xr_page97 {top:0px; width:576px;}
.xr_bgb98 {background:url('50.png') -1152px 1984px repeat;}
.xr_page98 {top:0px; width:576px;}
.xr_bgb99 {background:url('50.png') -1152px 1984px repeat;}
.xr_page99 {top:0px; width:576px;}
.xr_bgb100 {background:url('50.png') -1152px 1984px repeat;}
.xr_page100 {top:0px; width:576px;}
.xr_bgb101 {background:url('50.png') -1152px 1984px repeat;}
.xr_page101 {top:0px; width:576px;}
.xr_bgb102 {background:url('50.png') -1152px 1984px repeat;}
.xr_page102 {top:0px; width:576px;}
.xr_bgb103 {background:url('50.png') -1152px 1984px repeat;}
.xr_page103 {top:0px; width:576px;}
.xr_bgb104 {background:url('50.png') -1152px 1984px repeat;}
.xr_page104 {top:0px; width:576px;}
.xr_bgb105 {background:url('50.png') -1152px 1984px repeat;}
.xr_page105 {top:0px; width:576px;}
.xr_bgb106 {background:url('50.png') -1152px 1984px repeat;}
.xr_page106 {top:0px; width:576px;}
.xr_bgb107 {background:url('50.png') -1152px 1984px repeat;}
.xr_page107 {top:0px; width:576px;}
.xr_bgb108 {background:url('50.png') -1152px 1984px repeat;}
.xr_page108 {top:0px; width:576px;}
.xr_bgb109 {background:url('50.png') -1152px 1984px repeat;}
.xr_page109 {top:0px; width:576px;}
.xr_bgb110 {background:url('50.png') -1152px 1984px repeat;}
.xr_page110 {top:0px; width:576px;}
.xr_bgb111 {background:url('50.png') -1152px 1984px repeat;}
.xr_page111 {top:0px; width:576px;}
.xr_bgb112 {background:url('50.png') -1152px 1984px repeat;}
.xr_page112 {top:0px; width:576px;}
.xr_bgb113 {background:url('50.png') -1152px 1984px repeat;}
.xr_page113 {top:0px; width:576px;}
.xr_bgb114 {background:url('50.png') -1152px 1984px repeat;}
.xr_page114 {top:0px; width:576px;}
.xr_bgb115 {background:url('50.png') -1152px 1984px repeat;}
.xr_page115 {top:0px; width:576px;}
.xr_bgb116 {background:url('50.png') -1152px 1984px repeat;}
.xr_page116 {top:0px; width:576px;}
.xr_bgb117 {background:url('50.png') -1152px 1984px repeat;}
.xr_page117 {top:0px; width:576px;}
.xr_bgb118 {background:url('50.png') -1152px 1984px repeat;}
.xr_page118 {top:0px; width:576px;}
.xr_bgb119 {background:url('50.png') -1152px 1984px repeat;}
.xr_page119 {top:0px; width:576px;}
.xr_bgb120 {background:url('50.png') -1152px 1984px repeat;}
.xr_page120 {top:0px; width:576px;}
.xr_bgb121 {background:url('50.png') -1152px 1984px repeat;}
.xr_page121 {top:0px; width:576px;}
}
@media print {
 #xr_xrii{overflow:visible !important; position: relative !important;}
}
